.digital {
  perspective: 300rem;
}
.socials-header {
  perspective: 300rem;
}
.services {
  perspective: 300rem;
}
.cta-button {
  transform: perspective(300rem);
}
#project-01 {
  transform: perspective(300rem);
}
.paragraph-about > div {
  background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(37, 37, 37) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  white-space: pre-wrap;
}